body {
  margin: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  height:100%;
  width:100%;
  box-sizing: border-box;
  font-family: "Noto";
  font-size: 20px;
  padding-top: 100px;
  background-color: beige;

}
/* ------------------------NAVBAR-------------------------------*/
.container-nav {
position: fixed;
top:0;
width:100vw;
display: grid;
grid-template-columns: auto auto auto auto;
align-items: center;
justify-content: center;
 }
.container-nav .title {
  margin-left:20px;
  padding-right : 100px; 
  font-size:40px ;
  text-decoration: none;
  color : #008000;
}
.search-bar input {
  height: 30px;
  width: 500px;
  margin-right: 10px;
  border-radius: 10px;
  border-style: none;
  outline: none;
}
.search-bar .search {
  color: #008000;
  margin-right:20px;
  }
  .modele{
    margin-right: 30px;
  }
.modele ul {
  display : flex ;
  list-style: none;
}
.modele li .link1 {
  color : #008000;
  text-decoration: none;
  padding-right: 20px;
   }
.modele .link1:hover{
  color:	#CD853F;
  
}
.shop-user{
display : flex;
color: #008000;
}
.shop-user > div {
  padding-right: 20px;
}
.shop-user .fa {
  color: #008000;
}





/* ------------------------SLIDER-NOUVEAUTES-------------------------------*/
.container-slider {
  height: 650px;
  margin-top:25px;
}
.container-slider h2 {
  color: #CD853F;
  font-size:30px ;
  text-align: center;
 }
.swiper_container img {
  width: 25rem;
  height: 27rem;
  border-radius: 20px;
  object-fit: cover;
  transition: transform 0.5s;
  
}
.swiper_container img:hover {
  transform: scale(1.2);
}
.nouv-acheter {
  display : flex ;
}
.nouv-acheter h3{
  margin-right: 30px;
}
.nouv-acheter button {
  font-family: "Noto";
  margin-top: 22px;
  width: 100px;
  height: 30px;
  background-color: #CD853F;
  color :white;
  border-style:none ;
  border-radius: 20px;
}
.my-custom-pagination-div{
  width: 20rem !important;
  padding-left: 600px;}
.my-custom-pagination-div .swiper-pagination-bullet{
  background-color:red;
}
.my-custom-pagination-div .swiper-pagination-bullet-active{
  background-color:#CD853F;
}










/* ------------------------dISPO-------------------------------*/
.container-dispo {
  background-color: #CD853F;
  margin-top:20px;
  padding-top: 15px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}
.container-dispo h2 {
color :beige  ;
font-size: 25px;
text-align:center ;
}
.dispo1 {
  display: grid;
  grid-template-columns:auto auto auto auto;
  column-gap: 20px;
  }
 .dispo1 img {
  height:400px ;
  width:300px ;
 border-radius: 20px;
  transition: transform 0.5s;

  
}
.dispo1 img:hover {
  transform: scale(1.2);
  cursor:pointer;

}
.dispo1 h3 {
  color :beige  ;
  font-size: 15px;
  text-align:center ;

}
.dispo1 .link5 {
  text-decoration: none;
  
}









/* ------------------------FOOTER-------------------------------*/
.container-footer {
 
  display :grid ;
  grid-template-columns: repeat(3,30%);
  height:350px ;
  justify-content: center;
  align-items: center;
  margin-top :20px;
  border:2px solid #CD853F;
  border-radius: 20px;

}
.container-footer h1 {
    color:	#CD853F;
    font-size: 50px ;
}
.container-footer h3 {
  color:	#CD853F;
  font-size: 20px ;
}
.container-footer ul li .link3:hover {
  color:#008000;
}

.support-container{
  display: grid;
  grid-template-columns: repeat(2,30%);
  
}
.support-button > button {
  width: 200px;
  padding: 20px;
  display:block;
  border:none;
  border-bottom: 2px solid black;
  background-color: beige;


}
.support-client ul {
  list-style: none;
  
}
.support-client ul li{
  padding-top:15px;
  
}
.support-client ul li .link3 {
 
  text-decoration: none ;
  color:	#e7b16b;
 

}
.suivez-nous .insta ,.suivez-nous .face {
  color:	#e7b16b;
}


       






/************************disponibilité-catégorie*****************/
.dispo{
  margin-top:20px ;
  
  display :flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  
}
.categorie {
  
  margin-right:30px;
  margin-bottom: 15px ;
  padding:20px ;
  height:500px ;
  width: 200px;
 
  color:beige;
  justify-content: center;
  align-items: center;
  font-size:15px ;

background:
   /* radial-gradient(at 50% 0, black, transparent 70%)*/
   linear-gradient(400deg, #CD853F, beige 90% ) ;
   transition:transform 0.5s;
   
}
.categorie:hover {
  cursor:pointer;
  transform : scale(1.2) ;
}
.img-dispo {
height: 300px;
width: 200px;


 }
 .voir-plus {
  background-color:#CD853F ;
 
  color :beige;
  border-style: none;
  padding: 15px;
  border-radius: 20px ;
 }













/************************User*****************/
.menu-container  {
  position: relative;
  display: inline-block;
  
}

.dropdown-menu {
  display:none ;
  position:absolute ;

  top:25px ;
  right:-20px ;
  background-color:beige;
  border :2px solid #CD853F;
  border-radius: 10px;
 
  width: 170px ;
  font-size: 15px;
  z-index: 1;
  padding-right: 25px;
 
}
.menu-container ul {
  list-style: none;
}
.menu-container ul li .link2{
  text-decoration: none;
  color:#CD853F;
}

.menu-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu ul li{
  padding-bottom: 5px;
 
}

.dropdown-menu ul li:hover .link2{
  color: #008000;
  cursor: pointer;
}  
.dropdownitem .icon {
  color:#CD853F;
}







/*****************************Connexion**********************************/
.container-connex{
  font-size: 15px;
  margin-top:30px;
  
}
.title-connex {
color:#CD853F;
text-align: center;
}
.connexion {
  display: grid;
  grid-template-columns: repeat(2,48%);
  margin-bottom: 70px;
}
.connexion input {
  border-radius: 20px;
  border: 1px solid #CD853F;
  outline: none;
}
.connexion label {
  color:#CD853F;
}
.déja-client {
  display:flex;
  flex-direction: column;
  margin-right: 40px ;
}
.déja-client h3 {
  color:#CD853F;
}
.nouveau-compte {
  display:flex;
  flex-direction: column;
}
.nouveau-compte h3{
  color:#CD853F;
}
.se-connecter {
  background-color: #CD853F;
  color:beige;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  margin-top:20px ;
  height:30px ;
  width: 200px ;
  border-radius: 20px;
  border-style: none;
  
}
.creer {
  background-color: #CD853F;
  color:beige;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px ;
  height:30px ;
  width: 200px ;
  align-items: center;
  border-radius: 20px;
  border-style: none;
}
.perdu {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #CD853F;
}






/******************************Panier************************************/
.panier {
  text-align: center;
  color:#008000;
}
.container_element_panier{
  display:flex;
  justify-content: space-between;
  margin:20px ;
  
}
.container_element_panier img {
  height:80px;
  width: 80px;
}
.container_element_panier input {
  width: 40px;
  border-color:#CD853F;
  border-radius: 20px;

}
.container_element_panier button {
  background-color:#CD853F;
  border-radius: 20px;
  color:white;
  border-style: none;
  
}
.container_element_panier button:hover {
  background-color: #CD853F;
}

.button_panier{
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color:white;
  background-color: #CD853F;
  border-style: none;
  height:40px;
  width:150px;
}
.container_panier p {
  color:#CD853F;
  text-align: center;


}












.liste1 {
  margin-left:200px ;
  display : grid;
  grid-template-columns: repeat(3,32%);
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.liste1 a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.container-images {
  display :grid ;
  grid-template-columns: repeat(3,30%);
  justify-content: center;
  align-items: center;
  
}
.container-images img {
 height:500px ;
 width:400px ;
}

.carousel {
  overflow: hidden;
  cursor:grab;
}
.inner-carousel {
  display:flex;
  
}
.item {
  min-height: 25rem;
  min-width: 20rem;
  padding: 40px 20px ;
}
.item img {
  width:100%;
  height:100%;
  border-radius: 2rem;
  pointer-events: none;
}

.bot {
  background-color: black;
  width:100%;
  height:100%;
}

 .chercher {
  display:flex;
   }
   .chercher.act {
    opacity: 1;
    visibility: visible;
    /*transform: translateY(0);
    transition: var(--speed) ease;*/
   }
   .chercher.inact{
    opacity: 0;
    visibility: hidden;
   /* transform: translateY(-20px);
    transition: var(--speed) ease;*/
   }
  .button{
    font-family: "Brush Script MT";
    background-color: #FFAACF;
    color:white;
    border-style: none;
  }
  
  
  

 


